DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Congo Soldes"
UPLOAD_DIR="public/uploads"
MTN_MOMO_API_KEY=""
MTN_MOMO_ENVIRONMENT="sandbox"
AIRTEL_MONEY_API_KEY=""
AIRTEL_MONEY_ENVIRONMENT="sandbox"
