DATABASE_URL="postgresql://user:password@host:5432/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@host:5432/neondb?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Congo Soldes"
UPLOAD_DIR="public/uploads"
MTN_MOMO_API_KEY=""
MTN_MOMO_ENVIRONMENT="sandbox"
AIRTEL_MONEY_API_KEY=""
AIRTEL_MONEY_ENVIRONMENT="sandbox"
